body {
    background-color: rgb(222, 235, 224);
    font-family: Courier
  }
a:link { 
    text-decoration: none; 
    color: black;
}
a:visited { 
    text-decoration: none; 
    color: black;
}
a:hover { 
    text-decoration: none; 
    color: black;
}
a:active { 
    text-decoration: none; 
    color: black;
}

p {
    background-color: rgb(252, 247, 222);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(222, 235, 224);
    position: fixed;
    height: 100%;
    overflow: auto;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

script.display {
    margin-left: 200px;
    height: 400px;
    width: 400px;
}