/* General Body Styles */
body {
  background-color: #333;
  color: white; 
  font-family: Arial, sans-serif; 
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
  background-color: #444; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.centered-content {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 30vh; /* Optional: You can set a height */
  text-align: center; /* Center text for inline or inline-block elements */
  z-index: 0;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
  z-index: 0;
}

/* Sections */
section {
  margin-bottom: 20px;
  z-index: 0;
}

/* Links */
a {
  color: #4CAF50; /* Bright color for links */
  text-decoration: none;
  z-index: 0;
}

a:hover {
  text-decoration: underline;
  z-index: 0;
}

/* Profile Picture */
.profile-pic {
  border-radius: 50%; /* Circular image */
  width: 150px; /* Adjust width as needed */
  margin-top: 20px; /* Space above the image */
  border: 3px solid #16c049; /* Solid white border, 3px thick */
}

/* Custom Styles for Mathematics Theme */
/* Add any specific styles that relate to the mathematics theme here */

/* styles.css */

/* Style for the sidebar container */
/* Style for the sidebar container */
.sidebar {
  width: 200px;  /* Set the width of the sidebar */
  display: flex; /* Establishes a flex container */
  flex-direction: column; /* Aligns children vertically */
  align-items: center; /* Centers flex items on the cross axis (horizontally) */
  justify-content: center; /* Centers flex items on the main axis (vertically) */
  background-color: #333; /* Background color of the sidebar */
  padding: 10px; /* Padding inside the sidebar */
  border-right: 1px solid #333; /* Right border for the sidebar */
}


/* Style for the list inside the sidebar */
.sidebar ul {
  list-style-type: none; /* Removes default list style */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* Style for the list items inside the sidebar */
.sidebar ul li {
  padding: 8px; /* Padding for each list item */
  margin-bottom: 5px; /* Space between list items */
  background-color: #e8e8e8; /* Background color for list items */
  border-radius: 4px; /* Rounded corners for list items */
}

/* Style for the links inside the list items */
.sidebar ul li a {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Color of the text in links */
  display: block; /* Makes the entire list item clickable */
}

/* Additional style for hovering over the list items */
.sidebar ul li:hover {
  background-color: #444; /* Background color on hover */
}

/* Additional style for the active page link */
.sidebar ul li a.active {
  color: #444; /* Color of the active link text */
  background-color: #4CAF50; /* Background color of the active link */
}